.message-container {
    min-width: 450px;
    display: flex;
    flex-direction: column;

    .header {
        background-color: #64748b;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        .label-text {
            color: #e5e7eb;
        }

        .user-name {
            font-weight: bold;
            color: #1f2937;
        }
    }
}
