.chat {
    display: flex;
    margin-bottom: 1rem;

    &.chat-end {
        justify-content: flex-end;
    }

    &.chat-start {
        justify-content: flex-start;
    }

    .chat-image {
        .avatar {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }
    }

    .chat-bubble {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        position: relative;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &.bubble-blue {
            background-color: #3b82f6;
        }

        &.shake {
            animation: shake 0.3s;
        }
    }

    .chat-footer {
        opacity: 0.5;
        font-size: 0.75rem;
        display: flex;
        justify-content: flex-end;
    }
}
